body {
    padding-top: 0px;
}

.navbar { opacity: 1.0; }

.nav > li > a {
    color:#787878;
}

.nav > li > a:hover {
    cursor:pointer
}

label {
    font-weight: 400;
}

.roles-dropdown {
    display: inline;
}

#accordion > .panel > a {
    text-decoration: none;
    color: #333;
}

#accordion .panel .panel-heading i {
    margin-right: 10px;
}

.alert {
    border: solid 2px #ef7359;
    padding: 5px;
    color: #ef7359;
    background-color: #FEFEFE;
}

.img-prod {
    width: 100%;
    border-radius: 5px;
}

.form-control-file{
    margin-bottom: 10px;
}
