body {
    background-color: #fef;
    padding-bottom: 70px;
}

.navbar {
    opacity: 0.9;
}

.category-name {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 4px;
}

.menu-item {
    list-style-type: none;
    min-width: 360px;
    min-height: 240px;
    width: auto;
    height: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.0);
}

.menu-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1999;
    opacity: 0;
}

.menu-item .fader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1000;
    background-color: #333;
    opacity: 0;
}

.menu-item h3, .menu-item p {
    color: #fff;
    text-align: center;
}

.centerBlock {
    display: table;
    margin: 0 auto;
}
